@charset "EUC-KR";

body {
	font-family: sans-serif; 
	font-weight: 600;
}

.navbar {
  height: 60px;
  padding: 0;
  margin-bottom: 1rem;
}

input[type='text'] {
	font-size: 18px !important;
    font-weight: bold !important;
    color: #233 !important;
}

.back-btn {
	position: absolute;
	background-color : transparent;
	border : none;
	left: 2rem;
	top: 50%;
}

.wrap {
  position: relative;
}

.container {
  width: 900px;
}

a {
  color: #233;
  text-decoration: none;
}

em {
	color: #6c2ef1;
	font-style: normal;
}

button {
	padding: 0;
	border: none;
	background-color: transparent; 
}