@charset "Euc-KR";

.navbar {
	background-color: #6c2ef1;
	height: 120px !important;
}

.back-btn {
	top: 30% !important;
}

.container {
	display: flex;
	position: absolute;
	flex-direction: column;
	max-width: 100%;
	width: 100% !important;
	height: 50rem;
	top: 60%;
	background-color: #f8f8f8;
	border-radius: 30px;
}

.admin-box {
	width: 90%;
	display:flex;
	flex-direction: column;
	padding: 2rem 5%;
	margin: 2rem auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.2);
	
}

.admin-header {
	position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.nav {
	flex-grow: 1;
}

.nav-btns {
	position: absolute;
    display: flex;
    gap: 15px;
    right: 0;
}

.nav-btns button {
	width: 4rem;
	height: 1.5rem;
	color: #fff;
	background-color: #6c2ef1;
	font-weight: bold;
	border-radius: 5px;
}

.date-box {
	display:flex;
	justify-content: end;
	margin-bottom: 15px;
}

input[type='date'] {
  border: 1px solid #ddd; 
  position: relative; 
  background-color: #fff;
  color: #888;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: center;
}

input[type='date']::-webkit-calendar-picker-indicator {
	 background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%236c2ef1" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
	 border-left: 1px solid #ddd;
}

.search-btn {
	width: 26px;
	aspect-ratio: 1/1;
	font-size: 14px;
	border: 1px solid #ddd;
	border-left: none;
	border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

thead > .table-primary {
	--bs-table-bg: #5622c3;
	--bs-table-color: #fff;
}

tr {
	height: 41px;
}

td, th {
	text-align: center;
	vertical-align: middle;
}

.pagination {
	align-self: center;
	margin: 1rem 0;
	gap: 10px;
	color: #aaa;
}

.current-page {
	width: 25px;
	aspect-ratio: auto;
	text-align: center;
	color: #fff;
	background-color: #6c2ef1;
	border-radius: 50%;
}